/****************************
Colours:


****************************/


/****************************
GENERAL
****************************/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-family: "proxima-nova", "Proxima Nova", "Proxima Nova Regular", helvetica, arial, sans-serif;
	margin: 0 auto;
	padding: 0px;
	background-color: #F9F9F9;
}

.header-wrap {
  width: 1180px;
  margin: 0 auto;
  padding: 0 5%;
	height: 110px;
}

.content-wrap {
  width: 1180;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}



/****************************
HEADER
****************************/


.main-header {
	-webkit-box-shadow: 0 3px 4px -4px gray;
	-moz-box-shadow: 0 3px 4px -4px gray;
	box-shadow: 0 3px 4px -4px gray;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  width: 100%;
	height: 100px;
	background-color: #FFF;
	display: flex;
	align-content: center;
}


.logo {
	/*display: flex;
	align-items: flex-start;*/
	/*position: absolute;
	left: 21.5%;
	top: 0.05%;*/
	width: 43px;
	height: 43px;
	margin: 4px 4px 0 0;
}

/******
UNUSED VERSION OF SEARCH-ICON, REPLACED WITH BACKGROUND IMG IN .search-bar
*******/

/*.search-icon {
	z-index: 1000;
	position: absolute;
	left: 24.5%;
	top: 1.95%;
	color: #D0D0D0;
	font-size: 1.1em;
	font-weight: lighter;
}*/

.search-form {
	/*display: block;*/
  flex-grow: 1;
  min-width: 18rem;
	display: inline;
}

.search-bar {
	background: url(../img/search-icon.png) no-repeat;
	background-size: 15px;
	background-position: 7px 7px;
	/*display: inline;*/
	height: 30px;
  width: 87%;
	/*margin: 11px 0 0 40px;*/
  padding: .4rem;
	padding-left: 30px;
  background-color: #FFF;
	border: 1px solid #F2F2F2;
	font-size: 0.83em;
	font-weight:500;
	color: #999;
}

.search-bar:focus {
	outline: none;
}

.dropdown-tabs {
	/*display: inline;*/
	margin: 10px 5px 0 10px;
	font-weight: 900;
	font-size: 1.2em;
	color: #999;
	vertical-align: center;
	letter-spacing: .1em;
}

a.dropdown-tabs:hover {
	color: #DA552F;
}


.login-button {
	/*display: inline;*/
	margin: 15px 0 0 0;
	font-weight: 900;
	font-size: 0.75em;
	color: #999;
	text-transform: uppercase;
	vertical-align: center;
}

a.login-button:hover {
	color: #DA552F;
}


/****************************
NAVIGATION
****************************/

.main-nav {
	width: 100%;
	margin: 9px 0 0 0;
	display: flex;
	height: 50px;
	border-top: 1px solid #F2F2F2;
}

.main-nav__link {
	display: inline-block;
	min-width: 70px;
	flex: 0 0 auto;
	margin: 0 0 15px 0;
	height: 49px;
	padding: 0 20px;
	font-size: .85em;
	color: #999;
}

.main-nav__link-text {
	margin: 18px 0 0 0;
}

a.main-nav__link:hover {
	background-color: #F9F9F9;
}

/*.main-nav__link-arrows {
	display: inline-block;
	width: 5px;
	margin: 0 5px;
	color: #999;
	border-top: 1px solid #E3E3E3;
}*/

.main-nav__link-active {
	display: inline-block;
	color: #000;
	background-color: #F9F9F9;
	height: 49px;
	padding: 0 20px;
	margin-right: 0;
	font-size: .85em;
}



/***************************
CONTENT
****************************/

.link-wrap {
	margin-top: 10px;
	height: 100%;
	width: 74%;
	background-color: #FFF;
	border: 1px solid #F2F2F2;
}

.section-title {
	width: 95%;
	margin: 0 0 15px 20px;
	padding: 15px 0 15px 0px;
	font-size: 1.3em;
	font-weight: lighter;
	border-bottom: 1px solid #E3E3E3;
	text-align: left;
}

/***************************
PRODUCTS
****************************/

.product-link {
	display: inline-block;
	width: 100%;
	height: 130px;
	background: #fff;
	border-bottom: 1px solid #E3E3E3;
}

.product-image {
	display: inline;
	height: 80px;
	margin: 25px 0 0 25px;
}

.product-titles {
	display: inline;
	width: 100%;
	height: 20px;
	margin: 10px 0 0 30px;
	padding: 15px 0 0 0px;
	font-size: 1.3em;
	font-weight: lighter;
	text-align: left;
}

.product-description {
	display: inline;
	height:30px;
}
